<h1 class="visuallyhidden">Recipe Search</h1>
<div class="welcomepage">

<p class="welcome">Welcome to MyRecipez!</p>


<%= form_tag("/search_results", method: "get") do %>
  <%= label_tag(:q, "What are you craving?", :class => "craving") %>
  <br>
  <%= text_field_tag(:q, nil, :class => "search_field") %>
  <br>
  <%= submit_tag("Search for Recipe", :class => "search_button") %>
<% end %>

<div class="video-holder">&nbsp;<iframe src="http://vimeo.com/79501591"
width="561" height="316" frameborder="0" webkitAllowFullScreen mozallowfullscreen
allowFullScreen></iframe></div>

</div>
